*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}

header .logo{
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

header .logo span{
    color: #CC042B;
}

header .toggle{
    max-width: 60px;
    cursor: pointer;
}

header .toggle img{
    max-width: 100%;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.6s;
    z-index: 10000;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background: #111;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background: #CC042B;
    transform-origin: top;
    transform: skewX(-25deg);
    z-index: 1;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    pointer-events: none;
}

.banner .textBox{
    position: relative;
    max-width: 600px;
    z-index: 2;
}

.banner .textBox h2{
    color: #fff;
    font-size: 1.8em;
}

.banner .textBox p{
    color: #CEF9F2;
    font-size: 1.1em;
    margin: 5px 0 25px;
}

.banner .textBox p span{
    color: #CC042B;
    font-size: 1.4em;
    font-weight: 700;
}

/*.banner .textBox a{
    position: relative;
    display: inline-block;
    background: #06A77D;
    color: #111;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}*/

.banner .textBox .wrapper button{
    background: none;
    color: #ccc;
    width: 200px;
    height: 60px;
    border: 2px solid #FEEA00;
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
    transition: .6s;
    overflow: hidden;
}

.banner .textBox .wrapper button:focus{
    outline: none;
}

.banner .textBox .wrapper button:hover{
    background: #FEEA00;
    cursor: pointer;
    color: #111;
}

.banner .textBox .wrapper button:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
}

.banner .textBox .wrapper button:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 2;
    transition: .7s;
}

.banner .imgBox{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    z-index: 2;
}

.banner .imgBox img{
    position: absolute;
    bottom: 0;
    width: 900px;
    height: 80%;
    z-index: 10000;
}

.sci{
    position: absolute;
    bottom: 20px;
    letter-spacing: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin-right: 15px;
}

.sci li a img{
    transform: scale(0.5);
    filter: invert(1);
}

@media (max-width: 991px){
    header{
        padding: 20px 50px;
    }

    header .logo {
        font-size: 2em;
        letter-spacing: 1px;
    }

    header .logo span{
        color: #FEEA00;
    }

    header .toggle{
        width: 40px;
    }

    .banner{
        padding: 150px 50px 0;
        flex-direction: column;
        overflow: hidden;
    }
    .banner:before{
        width: 300px;
        transform: skewX(-25deg) translateX(50%);
    }
    .banner .textBox{
        position: relative;
    }
    header ul li a{
        display: none;
    }
    .banner .imgBox img{
        position: absolute;
        bottom: 15%;
        width: 900px;
        height: 90%;
        z-index: 10000;
    }
    .banner .textBox p span{
        color: #FEEA00;
    }
}